.section, .sectionReverse{
 
     display: flex;
     justify-content: space-between;
   }

   .sectionReverse{
      flex-direction: row-reverse;
   }
   
   .section img, .sectionReverse img{
     width: 50%;
     padding: 30px 40px;
     background-color: #252617
   
   }
   
 

   .sectionBox{
      width: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: left;

    
   }

   .text{
    width: 50%;
    background-color: var(--green--middle);
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 20px;
}

  

   @media only screen and (max-width : 600px){

     .section, .sectionReverse{
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 60px 0;
     }


     .section img, .sectionReverse img{
       width: 95%;
     }

     .text{
      width: 85%;
     }
    
 
      


        
   }